:root {
    --primary-color: #70497c;
    --button-donate: #518fe7;
    --social-bg: #62625f;
    --text-color: #535353;
}

* {
    box-sizing: border-box;
}

.header-wrapper {
    min-width: 1300px;
    min-height: 800px;
    margin: 0;
    padding: 70px 0 0 0;
    background: url(../assets/img/Layer_2.png) no-repeat,
                url(../assets/img/Layer_4.png) no-repeat,
                url(../assets/img/header.png) no-repeat;

    background-size: contain;
}

.container {
    width: 1250px;
    margin: 0;
    padding: 0;
    font-family: "TitilliumWebReg", serif;
    color: var(--text-color);
    position: relative;
}

.header-top {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}

.header-logo {
    margin: 0;
}

.header-nav {
    margin-left: 293px;
    margin-right: 50px;
}

.header-nav-list {
    display: flex;
    padding: 0;
}

.header-nav-list__item {
    margin-right: 26px;
    transition: all 0.2s linear;
}

.header-nav-list__item:hover {
    box-shadow: 0 2px 0 0 var(--primary-color);
}

.header-nav-list__link {
    text-decoration: none;
    font: 16px TitilliumWebReg, sans-serif;
    color: var(--text-color);
}

.button {
    display: inline-block;
    background-color: transparent;
    outline: none;
    border: none;
    font: 16px TitilliumWebBold, sans-serif;
    cursor: pointer;
    color: #fff;
    transition: all 0.5s ease-out;
}

.user-login {
    color: var(--primary-color);
}

.user-signup,
.user-option__create {
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 0 0 15px;
}

.svg-login {
    width: 15px;
    height: 15px;
    fill: var(--primary-color);
    position: relative;
    top: 2px;
    left: -5px;
}

.user-login:hover {
    color: var(--primary-color);
}

.user-login:hover .svg-login {
    transform: scale(1.2);
    left: -3px;
}

.header-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: var(--text-color);
  font-size: 60px;
  margin-bottom: 10px;
}

.header-desc {
  font-size: 30pt;
  margin: 0 0 65px;
}

.decorate {
  color: #f53d43;
}

.user-option {
  display: flex;
  align-items: center;
}

.user-option__store {
  width: 45px;
  height: 45px;
  background-color: var(--primary-color);
  display: inline-block;
  border-radius: 50%;
  margin-left: 22px;
  transition: all 0.3s linear;
}

.user-option__store:hover,
.user-option__create:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0px 2px #ffffff80;
  transition: all 0.3s linear;
}

.svg-option {
  width: 25px;
  height: 25px;
  fill: #fff;
  position: relative;
  top: 10px;
}

.appstore {
  left: 10px;
}

.gplay {
  left: 12px;
}

.social-box-list {
  position: fixed;
  right: 20px;
  top: 165px;
}

.social-box__item {
  width: 20px;
  height: 20px;
  background-color: var(--social-bg);
  margin-bottom: 20px;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.svg-social {
  width: 12px;
  height: 12px;
  fill: #fff;
  position: relative;
  left: 4px;
}

.social-box__item:hover {
  transform: translateX(-5px) scale(1.2);
  box-shadow: 5px 5px 3px #8a8a8a;
  transition: all 0.2s linear;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list__item {
  flex-basis: 370px;
}

.features-list-wrap {
  padding: 5px 0 5px 65px;
}

.features-list__item:first-child .features-list-wrap {
  background: url(./assets/img/shield.png) no-repeat left 50%;
}

.features-list__item:nth-child(2) .features-list-wrap {
  background: url(./assets/img/lock.png) no-repeat left 50%;
}

.features-list__item:last-child .features-list-wrap {
  background: url(./assets/img/key.png) no-repeat left 0;
}

.feautres-list__title {
  margin: 0;
}

.features-list__desc {
  margin: 0 0 15px 0;
}

.features-list__text {
  font-size: 14px;
  line-height: 22px;
}

.features-list__item:nth-child(2) {
  position: relative;
}

.features-list__item:nth-child(2)::before,
.slogan-button::before,
.slogan-button::after,
.who-help::before,
.who-help::after {
  position: absolute;
  content: "";
  background-color: #b9b9b9;
}

.features-list__item:nth-child(2)::before {
  top: -130px;
  left: -30px;
  height: 215px;
  width: 2px;
}